@charset "utf-8";


#container {
    display: flex;
    width: 100%;
    border: 3px solid black;
    flex-direction: column;
}

ul.Menu{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

ul.Menu li{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}
ul.Menu li a{
    text-decoration: none;
    color: grey;
}
div.pres{
    background-image:
    width: 980px;
    height:  980px;
}
img.moi{
    padding-right: 30px;
}

article.one{
    text-align: center;
    width: 48%;
}
